{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE %}

<div id="s4m-welcome" style="text-align: center;line-height: 1.4;margin: 6rem;color: forestgreen;">
    <div class="logos">
        <a href="https://mel.cgiar.org/projects/1866" target="_blank" rel="noopener noreferrer"><img src="/static/img/logo.png" style="height: 100px; margin-bottom: 10px; margin-left: 5px;"></a>
        <a href="https://www.crs4.it/" target="_blank" rel="noopener noreferrer"><img src="/static/img/LogoCRS4.2000x600.png" style="height: 100px; margin-bottom: 10px; margin-left: 5px;"></a>
        <a href="/" target="_blank" rel="noopener noreferrer"><img src="/static/img/icarda.png" style="height: 100px;margin-bottom: 10px; margin-left: 5px;"></a>
        <a href="/" target="_blank" rel="noopener noreferrer"><img src="/static/img/ELD.png" style="height: 100px; margin-bottom: 10px; margin-left: 5px;"></a>
    </div>   
</div>



